.back_to_settings {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 2.75rem;
    width: 2.75rem;
    margin: .3rem;
    border-radius: 50%;
    border: none;
    background: transparent;
}

.back_to_settings:hover {
    background-color: rgba(119, 136, 153, 0.18);
}

.back_to_settings svg {
    width: 1.5rem;
    fill: var(lightslategray);
}